/* HEADER start */
#header h1 a{
	display:block;
}
#header h1 span{
    color: #d52349;
    font-weight: 900;
    font-size: 0.5em;
    letter-spacing: -0.035em;
    margin: 0 0 1em 0;
}
#header-wrapper {
	padding: 0.5em 0 4em 0;
}
.bx-wrapper {
	margin: 3em 0 0 0;
}
.bxslider li img {
	width: 100%;
}
.bxslider li div {
	bottom: inherit;
    top: 35%;
    left: 35%;
    position: absolute;
    right: inherit;
    padding: 0;
    background-color: white;
    width: 550px;
    opacity: 0.7;
    border-radius: 5px;
    padding: 5px;
}
.bxslider li div h2{
	color: #d52349;
	font-weight: bold;
}
.bxslider li div p{
	margin: 0;
	padding: 0;
}
.bxslider li div a{
    padding: 0 13px 0 0;
    text-decoration: initial;
    font-weight: bold;
}
.bxslider li div .link_news{
	float: right;
}
.bx-wrapper .bx-viewport {
	border: 0px solid #fff;
	box-shadow: 0 0 5px #fff;
	-moz-box-shadow: 0 0 5px #fff;
    -webkit-box-shadow: 0 0 5px #fff;
	left: inherit;
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    bottom: -40px;
}
#intro section {
	padding: 0;
}
.icon.featured {
	margin: 0 0 3.5em 0;
}
#nav li.opener > a {
    background: #d52349;
    color: #fff !important;
    font-weight: 700;
}
/* HEADER end */

/* CONTENT start */
.posts_blog header{
	margin:0;
}
.margintop {
	margin: 0px 0 -1px -50px;
}
.bxslider li .link_news {
	text-decoration: underline;
}
.not_news {
	display:block;
	padding: 90px 0 0 0;
}
.right {
	float: right;
}
.categorie {
	color: #d52349;
    /*font-weight: 900;
    font-size: 0.5em;
    letter-spacing: -0.035em;
    margin: 0 0 1em 0;*/
}
.datecat{
	padding: 10px 0 10px 0;
}
.posts_blog .6u .box h3 {
	max-height: 90px;
}
.posts_blog .6u .box p {
	max-height: 150px;
}
.posts_blog .\36 u {
	height: 775px;	
}
.posts_blog .\34 u {
	/*height: 830px;*/	
}
.posts_blog .box h3{
	font-family: 'Source Sans Pro';
	font-weight: 300;
	font-size: 23.4px;
}
.posts_blog .box p{
	font-family: 'Source Sans Pro';
	font-weight: 300;
	font-size: 17.3px;
}
.clearfix{
	clear:both;
	padding: 0;
}
.page-navigation {
	width: 100%;
	display: inline-block;
    padding: 50px 0 0 50px;
}
.page-navigation .f3-widget-paginator{
	margin: 0;
}
.page-navigation ul{
	text-align: center;
}
.page-navigation li {
	display: inline-block;
    font-family: 'Source Sans Pro';
    font-weight: bold;
    font-size: 17.3px;
    text-transform: uppercase;
    text-decoration: inherit;
    padding: 0 5px 0 5px;
}
.page-navigation li a {
	text-decoration: inherit;
	background: #d52349;
    border-radius: 5px;
    padding: 5px;
    color:#fff;
}
/*.page-navigation li.last a {
	text-decoration: inherit;
	background: none;
    border-radius: 0;
    color:#d52349;
}*/
.page-navigation li.current{
	color: #5d5d5d;
}
.hide {
	display: none;
}    
.files-img .news-img-wrap > :last-child {
	padding: 0px 0 30px 0;
}
.files-img .news-img-wrap > :first-child {
	padding: 0px 0 30px 0;
}
.files-img img {
    display: block;
    margin: 0 auto;
}
.news-single .news-list-category{
	color: #d52349;
    padding: 0 0 0 10px;
}
.news-single .news-backlink-wrap a{
	text-decoration: inherit;
    background: #d52349;
    border-radius: 5px;
    padding: 6px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

.news-single  .comments {
	position: relative;
    text-align: center;
    border-top: solid 1px #ccc;
    top: 1em;
    margin: 30px 60px 30px 30px;
}
.news-single .comments-vk{
    padding: 45px 0 0 0;
}
.news-single  .comments h4{
	position: relative;
    top: -0.8em;
    display: inline;
    margin: 0;
    padding: 0 1em 0 1em;
    background: #ffffff url("images/bg02.png");
}
.news-single #vk_comments{
	padding: 0;
	margin: 0;
}
.wrapper-comments div{
	width: 100%;
    display: inline-block;
    vertical-align: top;
}
#header {
	position: relative;
}
#header h1 a {
    display: block;
    width: 252px;
    margin: auto;
}
.langs-bar {
	width: 70px;
	position: absolute;
	top:0px;
	right: 0px;
}
.langs-bar li {
	/*display: inline-block;*/
    margin: 0 10px 0 0;
    height: 35px;
    width: 35px;
}
.langs-bar li a{
	width: auto;
	height: auto;
	color:#d52349;
}
.langs-bar img {
	width: 50px;
	border: 1px solid #5d5d5d;
}
.langs-bar li.active{
	border: 2px solid #d52349;
}
.mediaelement-video {
	margin: 0 auto;
	width: 727px;
}
#nav > ul > li {
	font-family: monospace;
    font-weight: 600;
}
.box .files-img img{
	left: 1.75em;
    top: 1.75em;
    margin: -2.7em 0 0.25em -1.7em;
}
.box.post header h1{
	line-height: 100%;
	font-size: 1.8em;
    letter-spacing: -0.015em;
} 
#header .detail_title a{
	display: block;
    width: 252px;
    margin: auto;
    letter-spacing: -0.035em;
    text-decoration: inherit;
    color: #000;
    font-weight: 900;
    font-size:43px;
    padding: 0 0 10px 0;
}
#header .detail_title span{
	color: #d52349;
    font-weight: 900;
    font-size: 0.5em;
    letter-spacing: -0.035em;
    margin: 0 0 1em 0;
    font-size:21px;
    padding: 0 0 10px 0;
    display: block;
}
.sideright div{
	margin-bottom: 20px;
}
/* CONTENT start */

/* RTE */
.online_editor .align-center {
	text-align: center;
}
.online_editor .align-left {
	text-align: left;
}
.online_editor .align-right {
	text-align: right;
}
.box.post .online_editor h2{
	font-size: 1.4em;
    padding: 0 0 5px 0px;
}
/* RTE */


@media screen and (max-width: 736px)  {
	.bxslider li div{
		top: 15%;
   		left: 10%;	
	}
	.news img{
		width: 100%;
		height: auto;
	}
	.wrapper-comments div{
		width: 100%
	}
	#header-wrapper {
    	padding: 2em 0;
	}
	#header h1 span{
		width: 187px;
    	display: block;
    	margin: 0 auto;
	}
	#header h1 a {
	    display: block;
	    width: 157px;
	    margin: auto;
	}
	.langs-bar {
    	width: 50px;
    	top: 40px;
    	left: 20px;
	}
	.langs-bar li a {
	    width: 20px;
	    height: 20px;
	}
	.langs-bar li.active {
		border: none;
	}
	.langs-bar li {
	    height: 20px;
	}
	
	#header-wrapper{
		padding: 1.5em 0 1.5em 0;
	}
	#header .detail_title a{
		width: 226px;
   		font-size: 40px;
	}
	#header .detail_title span{
		font-family: Helvetica, Arial, sans-serif;
		font-size: 15px;
		margin: 0;
	}
	
	#header h1 span{
		width:auto;
	}
	#header h1 a {
		width: 226px;
    	font-size: 40px;
	}
	#header h1 span{
		font-family: Helvetica, Arial, sans-serif;
	    font-size: 15px;
		padding: 10px 0 0 0;
	}
	.box .files-img img {
	    left: 1.75em;
	    top: 1.75em;
	    margin: -1.0em 0 0.25em 0em;
	}
	.box.post header h1 {
		font-family: Helvetica, Arial, sans-serif;
	    line-height: 100%;
	    font-size: 1.8em;
	    letter-spacing: -0.015em;
	}
	header h1 {
	    padding: 0.2em 0 0.2em 0;
	}
	.news p, .news h2, .news h3, .news a, h3,h2,h4,p,a, .posts_blog .box h3, .posts_blog .box a, .posts_blog .box p {
		font-family: Helvetica, Arial, sans-serif;
	}
	#intro {
		display: none;
	}
	#main-wrapper {
    	padding: 1em 10px;
	}
	
}

/* LOGIN start */
.tx-felogin-pi1, .form-registration{
	width: 40%;
    margin: 0 auto;
}
.tx-felogin-pi1 .send {
	margin: 20px 0 0 0;
}
.form-registration .left-form h2{
    margin: 1px 0 20px 0;
}
.form-registration .left-form li {
	padding: 0 0 10px 0px;
}
/* LOGIN end */