<f:if condition="{isBlock}">
	<f:then>
		<section id="intro" class="container">
        <div class="row">
          <div class="4u 12u(mobile)">
            <section class="first">
              <i class="icon featured fa-cog"></i>
              
              <header>
                <h2>{settings.name1}</h2>
              </header>
              
              <footer>
                <ul class="actions">
                  <li><f:link.page pageUid="{settings.link1}" class="button alt big" title="{settings.linktext1}">{settings.linktext1}</f:link.page></li>
                </ul>
              </footer>
              
            </section>
          </div>
          <div class="4u 12u(mobile)">
            <section class="middle">
              <i class="icon featured alt fa-flash"></i>
              
              <header>
                <h2>{settings.name2}</h2>
              </header>
              
              <footer>
                <ul class="actions">
                  <li><f:link.page pageUid="{settings.link2}" class="button big" title="{settings.linktext2}">{settings.linktext2}</f:link.page></li>
                </ul>
              </footer>
              
            </section>
          </div>
          <div class="4u 12u(mobile)">
            <section class="last">
              <i class="icon featured alt2 fa-star"></i>
              
              <header>
                <h2>{settings.name3}</h2>
              </header>
              
              <footer>
                <ul class="actions">
                  <li><f:link.page pageUid="{settings.link3}" class="button alt big" title="{settings.linktext3}">{settings.linktext3}</f:link.page></li>
                </ul>
              </footer>
              
            </section>
          </div>
        </div>
      </section>
	</f:then>
	<f:else>
		<div class="not_news">
	    	<h1>
	    		<f:link.action pageUid="{settings.uidPageNews}"> 
		  			<f:translate key="tx_dennedcontent_domain_model_not_news"/>  
		  		</f:link.action>
	    	</h1>
    	</div>
	</f:else>
</f:if>