<!-- Main -->
<div id="main-wrapper">
	<div class="container">
		<!-- ###MAIN_CONTENT### start -->
	
		<div class="row">
			<div class="12u">

				<!-- Portfolio -->
					<section>
						<header class="major">
							<h2>Последние посты</h2>
						</header>
						<div class="row posts_blog">
							<div class="4u 12u(mobile)">
								<section class="box">
									<a href="#" class="image featured"><img src="/fileadmin/templates/images/pic02.jpg" alt="" /></a>
									<header>
										<h3>Ipsum feugiat et dolor</h3>
										<p>13/08/2015</p>
									</header>
									<p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
									<footer>
										<a href="#" class="button alt">Читать</a>
									</footer>
								</section>
							</div>
							<div class="4u 12u(mobile)">
								<section class="box">
									<a href="#" class="image featured"><img src="/fileadmin/templates/images/pic03.jpg" alt="" /></a>
									<header>
										<h3>Sed etiam lorem nulla</h3>
										<p>13/08/2015</p>
									</header>
									<p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
									<footer>
										<a href="#" class="button alt">Читать</a>
									</footer>
								</section>
							</div>
							<div class="4u 12u(mobile)">
								<section class="box">
									<a href="#" class="image featured"><img src="/fileadmin/templates/images/pic04.jpg" alt="" /></a>
									<header>
										<h3>Consequat et tempus</h3>
										<p>13/08/2015</p>
									</header>
									<p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
									<footer>
										<a href="#" class="button alt">Читать</a>
									</footer>
								</section>
							</div>
						</div>
						<div class="row posts_blog">
							<div class="4u 12u(mobile)">
								<section class="box">
									<a href="#" class="image featured"><img src="/fileadmin/templates/images/pic05.jpg" alt="" /></a>
									<header>
										<h3>Blandit sed adipiscing</h3>
										<p>13/08/2015</p>
									</header>
									<p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
									<footer>
										<a href="#" class="button alt">Читать</a>
									</footer>
								</section>
							</div>
							<div class="4u 12u(mobile)">
								<section class="box">
									<a href="#" class="image featured"><img src="/fileadmin/templates/images/pic06.jpg" alt="" /></a>
									<header>
										<h3>Etiam nisl consequat</h3>
										<p>13/08/2015</p>
									</header>
									<p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
									<footer>
										<a href="#" class="button alt">Читать</a>
									</footer>
								</section>
							</div>
							<div class="4u 12u(mobile)">
								<section class="box">
									<a href="#" class="image featured"><img src="/fileadmin/templates/images/pic07.jpg" alt="" /></a>
									<header>
										<h3>Dolore nisl feugiat</h3>
										<p>13/08/2015</p>
									</header>
									<p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
									<footer>
										<a href="#" class="button alt">Читать</a>
									</footer>
								</section>
							</div>
						</div>
					</section>

			</div>
		</div>
		<div class="row">
			<div class="12u">

				<!-- Blog -->
					<section>
						<div class="row">
							<div class="6u 12u(mobile)">
								<section class="box">
									<a href="#" class="image featured"><img src="/fileadmin/templates/images/pic08.jpg" alt="" /></a>
									<header>
										<h3>Magna tempus consequat lorem</h3>
										<p>Posted 45 minutes ago</p>
									</header>
									<p>Lorem ipsum dolor sit amet sit veroeros sed et blandit consequat sed veroeros lorem et blandit  adipiscing feugiat phasellus tempus hendrerit, tortor vitae mattis tempor, sapien sem feugiat sapien, id suscipit magna felis nec elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos lorem ipsum dolor sit amet.</p>
									<footer>
										<ul class="actions">
											<li><a href="#" class="button icon fa-file-text">Читать</a></li>
											<li><a href="#" class="button alt icon fa-comment">33 просмотра</a></li>
										</ul>
									</footer>
								</section>
							</div>
							<div class="6u 12u(mobile)">
								<section class="box">
									<a href="#" class="image featured"><img src="/fileadmin/templates/images/pic09.jpg" alt="" /></a>
									<header>
										<h3>Aptent veroeros et aliquam</h3>
										<p>Posted 45 minutes ago</p>
									</header>
									<p>Lorem ipsum dolor sit amet sit veroeros sed et blandit consequat sed veroeros lorem et blandit  adipiscing feugiat phasellus tempus hendrerit, tortor vitae mattis tempor, sapien sem feugiat sapien, id suscipit magna felis nec elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos lorem ipsum dolor sit amet.</p>
									<footer>
										<ul class="actions">
											<li><a href="#" class="button icon fa-file-text">Читать</a></li>
											<li><a href="#" class="button alt icon fa-comment">33 просмотра</a></li>
										</ul>
									</footer>
								</section>
							</div>
						</div>
					</section>

			</div>
		</div>
		<!-- ###MAIN_CONTENT### end -->
	</div>
</div>
