<!-- Header -->
<div id="header-wrapper">
	<div id="header">

		<!-- Logo -->
			<h1>###LOGO_TEXT### </h1>
			
			###MENU_MAIN###
			###MENU_LANG###

		<!-- Banner -->
		<!-- ###SLIDER### start -->	
			<script type="text/javascript">
				jQuery(document).ready(function(){
					jQuery('.bxslider').bxSlider({
						auto:true
					});
				});
			</script>
			
			<ul class="bxslider">
			  <li>
			  	<img src="/fileadmin/templates/images/img1.jpg" />
			  	<div>
			  		<h2>TEST BLOCK 1 TEST BLOCK 1 TEST BLOCK 1 TEST BLOCK 1 TEST BLOCK 1 TEST BLOCK 1 TEST BLOCK 1</h2>
			  		<p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus</p>
			  		<a href="/">LINK MORE</a>		  	
			  	</div>
			  </li>
			  <li>
			  	<img src="/fileadmin/templates/images/img2.jpg" />
			  	<div>
			  		<h2>TEST BLOCK 2</h2>
			  		<p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus</p>
			  		<a href="/">LINK MORE</a>		  	
			  	</div>
			  </li>
			  <li><img src="/fileadmin/templates/images/img3.jpg" /></li>
			  <li><img src="/fileadmin/templates/images/img4.jpg" /></li>
			</ul>
        
		<!-- Intro -->
			<section id="intro" class="container">
				<div class="row">
					<div class="4u 12u(mobile)">
						<section class="first">
							<i class="icon featured fa-cog"></i>
							<header>
								<h2>Мой Блог</h2>
							</header>
							<!-- p>Записки жизни в Париже</p-->
							
							<footer>
								<ul class="actions">
									<li><a href="#" class="button alt big">Блогиться</a></li>
								</ul>
							</footer>
							
						</section>
					</div>
					<div class="4u 12u(mobile)">
						<section class="middle">
							<i class="icon featured alt fa-flash"></i>
							<header>
								<h2>Мои путешествия</h2>
							</header>
							
							<footer>
								<ul class="actions">
									<li><a href="#" class="button big">Путешествовать</a></li>
								</ul>
							</footer>
							
						</section>
					</div>
					<div class="4u 12u(mobile)">
						<section class="last">
							<i class="icon featured alt2 fa-star"></i>
							<header>
								<h2>Обо мне</h2>
							</header>
							
							<footer>
								<ul class="actions">
									<li><a href="#" class="button alt big">Познакомиться</a></li>
								</ul>
							</footer>
							
						</section>
					</div>
				</div>
			</section>
		<!-- ###SLIDER### end -->
	</div>
</div>
