{namespace n=Tx_News_ViewHelpers}

<div class="row">
      <div class="12u">
      	<section>
      	
      		<f:if condition="{news}">
				<f:then>
					<header class="major">
		              <h2>{blockTitle}</h2>
		            </header>
		            <div class="row posts_blog">
						<f:if condition="{settings.hidePagination}">
							<f:then>
								<f:for each="{news}" as="newsItem">
									<f:render partial="List/ItemLast" arguments="{newsItem: newsItem, settings:settings}" />
								</f:for>
							</f:then>
							<f:else>
								<n:widget.paginate objects="{news}" as="paginatedNews" configuration="{settings.list.paginate}">
									<f:for each="{paginatedNews}" as="newsItem" key="number" iteration="itemIteration">
										<f:render partial="List/ItemLast" arguments="{newsItem: newsItem, settings:settings, number:number, itemIteration:itemIteration}" />
									</f:for>
								</n:widget.paginate>
							</f:else>
						</f:if>
					</div>
				</f:then>
				<f:else>
					<div class="not_news">
				    	<h1>
				    		<f:link.page pageUid="{uidPageHome}"> 
					  			<f:translate key="LLL:EXT:denned_news/Resources/Private/Language/locallang.xlf:tx_dennednews_domain_model_news.notdata" />
					  		</f:link.page>
				    	</h1>
			    	</div>
				</f:else>
			</f:if>
            
		</section>
	</div>
</div>

